//  ____
// |  _ \
// | |_) | __ _ ___  ___
// |  _ < / _` / __|/ _ \
// | |_) | (_| \__ \  __/
// |____/ \__,_|___/\___|

// -----------------------------------------------------------
// NOTE: 01. Set up a decent box model on the root element
// -----------------------------------------------------------

html {
  box-sizing: border-box;
}

// -----------------------------------------------------------
// NOTE: 02. Make all elements from the DOM inherit from the parent box-sizing
// -----------------------------------------------------------
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
// -----------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: inherit;
}

// -----------------------------------------------------------
// NOTE: 03. Basic styles for links
// -----------------------------------------------------------

a {
  color: $black;
  text-decoration: none;

  @include on-event {
    color: $blue;
    text-decoration: underline;
  }
}

// -----------------------------------------------------------
// NOTE: 04. Add Bootstrap Grid SCSS
// -----------------------------------------------------------
// For some reason not in Bootstrap Grid SCSS
// -----------------------------------------------------------

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}
