//  ______          _          ______
// |  ____|        | |        |  ____|
// | |__ ___  _ __ | |_ ______| |__ __ _  ___ ___  ___
// |  __/ _ \| '_ \| __|______|  __/ _` |/ __/ _ \/ __|
// | | | (_) | | | | |_       | | | (_| | (_|  __/\__ \
// |_|  \___/|_| |_|\__|      |_|  \__,_|\___\___||___/
// For Google WebFonts use https://google-webfonts-helper.herokuapp.com
// Add: font-display: fallback;

@font-face {
	font-family: 'Trenda';
	font-style: normal;
	font-weight: normal;
	font-display: fallback;
	src: url('../fonts/webfonts/Trenda-Regular.otf'); /* IE9 Compat Modes */
}
/* besom */
@font-face {
	font-family: 'Besom';
	font-style: normal;
	font-weight: normal;
	font-display: fallback;
	src: url('../fonts/webfonts/besom-webfont.eot'); /* IE9 Compat Modes */
	src: local('Besom'), local('Besom'), url('../fonts/webfonts/besom-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/webfonts/besom-webfont.woff2') format('woff2'),
		url('../fonts/webfonts/besom-webfont.woff') format('woff'),
		url('../fonts/webfonts/besom-webfont.ttf') format('truetype'),
		url('../fonts/webfonts/besom-webfont.svg#Besom') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-200 - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 200;
	font-display: fallback;
	src: url('../fonts/webfonts/source-sans-pro-v13-latin-200.eot'); /* IE9 Compat Modes */
	src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-200.eot?#iefix') format('embedded-opentype'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-200.woff2') format('woff2'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-200.woff') format('woff'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-200.ttf') format('truetype'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-200.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-300 - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	font-display: fallback;
	src: url('../fonts/webfonts/source-sans-pro-v13-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-300.eot?#iefix') format('embedded-opentype'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-300.woff2') format('woff2'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-300.woff') format('woff'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-300.ttf') format('truetype'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-300.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-regular - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src: url('../fonts/webfonts/source-sans-pro-v13-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-regular.woff2') format('woff2'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-regular.woff') format('woff'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-regular.ttf') format('truetype'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-600 - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	font-display: fallback;
	src: url('../fonts/webfonts/source-sans-pro-v13-latin-600.eot'); /* IE9 Compat Modes */
	src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-600.eot?#iefix') format('embedded-opentype'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-600.woff2') format('woff2'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-600.woff') format('woff'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-600.ttf') format('truetype'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-700 - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	font-display: fallback;
	src: url('../fonts/webfonts/source-sans-pro-v13-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-700.eot?#iefix') format('embedded-opentype'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-700.woff2') format('woff2'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-700.woff') format('woff'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-700.ttf') format('truetype'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-900 - latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 900;
	font-display: fallback;
	src: url('../fonts/webfonts/source-sans-pro-v13-latin-900.eot'); /* IE9 Compat Modes */
	src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-900.eot?#iefix') format('embedded-opentype'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-900.woff2') format('woff2'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-900.woff') format('woff'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-900.ttf') format('truetype'),
		url('../fonts/webfonts/source-sans-pro-v13-latin-900.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
