//   _____          _____ _____   __  __ _      _
//  / ____|  /\    / ____/ ____| |  \/  (_)    (_)
// | (___   /  \  | (___| (___   | \  / |___  ___ _ __  ___
//  \___ \ / /\ \  \___ \\___ \  | |\/| | \ \/ / | '_ \/ __|
//  ____) / ____ \ ____) |___) | | |  | | |>  <| | | | \__ \
// |_____/_/    \_\_____/_____/  |_|  |_|_/_/\_\_|_| |_|___/

// -----------------------------------------------------------
// NOTE: 01. Set a rem font size with pixel fallback
// -----------------------------------------------------------

// Usage
// p {
//   @include font-size(14px)
// }
// -----------------------------------------------------------

@function calculateRem($size, $base-fontsize:16px) {
	$remSize: $size / $base-fontsize;
	@return $remSize * 1rem;
}

@mixin font-size($size, $base-fontsize:16px) {
	font-size: $size;
	font-size: calculateRem($size, $base-fontsize);
}

@mixin font-size-line-height($fontsize, $line-height, $base-fontsize:16) {
	font-size: #{$fontsize}px;
	font-size: calculateRem($fontsize, $base-fontsize);
	line-height: $line-height / $fontsize;
}

@mixin calc($property, $expression) {
	#{$property}: -moz-calc(#{$expression});
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

// -----------------------------------------------------------
// NOTE: 02. Breakpoints
// -----------------------------------------------------------

// Usage
// .sidebar {
//   width: 60%;
//   float: left;
//   margin: 0 2% 0 0;
//   @include bp-desktop {
//     width: 100%;
//     float: none;
//     margin: 0;
//  }
// }
// -----------------------------------------------------------

@mixin bp-phoneportrait {
	@media only screen and (max-width: $phoneportrait) {
		@content;
	}
}

@mixin bp-phonelandscape {
	@media only screen and (min-width: $phonelandscape) {
		@content;
	}
}

@mixin bp-tablet {
	@media only screen and (min-width: $tablet) {
		@content;
	}
}

@mixin bp-desktop {
	@media only screen and (min-width: $desktop) {
		@content;
	}
}

@mixin bp-desktopwide {
	@media only screen and (min-width: $desktopwide) {
		@content;
	}
}

@mixin bp-desktopultrawide {
	@media only screen and (min-width: $desktopwide) {
		@content;
	}
}

// -----------------------------------------------------------
// NOTE: 03. SVG background images with PNG and retina fallback
// -----------------------------------------------------------

// Usage
// body {
//   @include background-image('pattern');
// }
// -----------------------------------------------------------

$image-path: 'img' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';
@mixin background-image($name, $size:false) {
	background-image: url(#{$image-path}/#{$name}.svg);
	@if ($size) {
		background-size: $size;
	}
	.no-svg & {
		background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

		@media only screen and (-moz-min-device-pixel-ratio: 1.5),
			only screen and (-o-min-device-pixel-ratio: 3/2),
			only screen and (-webkit-min-device-pixel-ratio: 1.5),
			only screen and (min-device-pixel-ratio: 1.5) {
			background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
		}
	}
}

// -----------------------------------------------------------
// NOTE: 04. Animations and keyframes
// -----------------------------------------------------------

// @include keyframes(slide-down) {
//   0% { opacity: 1; }
//   90% { opacity: 0; }
// }
// .element {
//   width: 100px;
//   height: 100px;
//   background: black;
//   @include animation('slide-down 5s 3');
// }
// -----------------------------------------------------------

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	-ms-animation: #{$str};
	-o-animation: #{$str};
	animation: #{$str};
}

// -----------------------------------------------------------
// NOTE: 05. Transitions & Transforms
// -----------------------------------------------------------

// a {
//   color: gray;
//   @include transition(color .3s ease);
//   @include on-event {
//     color: black;
//   }
// }
// -----------------------------------------------------------

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

// NOTE: 05.01 Generic Transform
@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

// NOTE: 05.02 Transform Rotate
@mixin rotate($deg) {
	@include transform(rotate(#{$deg}deg));
}

// NOTE: 05.03 Transform Scale
@mixin scale($scale) {
	@include transform(scale($scale));
}

// NOTE: 05.04 Transform Translate
@mixin translate($x, $y) {
	@include transform(translate($x, $y));
}

// NOTE: 05.05 Transform Skew
@mixin skew($x, $y) {
	@include transform(skew(#{$x}deg, #{$y}deg));
}

// NOTE: 05.06 Transform Origin
@mixin transform-origin($origin) {
	moz-transform-origin: $origin;
	-o-transform-origin: $origin;
	-ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
	transform-origin: $origin;
}

// -----------------------------------------------------------
// NOTE: 06. Border-Radius & Other
// -----------------------------------------------------------

// a {
//   color: gray;
//   @include border-radius(5);
//   @include box-shadow(inset 0, 1px, 1px, rgba(0, 0, 0, 0.5));
//   @include on-event {
//     color: black;
//   }
// }

// NOTE: 06.01 Border-Radius
@mixin border-radius($radius) {
	-webkit-border-radius: $radius !important;
	-moz-border-radius: $radius !important;
	border-radius: $radius !important;
}

// NOTE: 06.02 Box-Shadow
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
	-webkit-box-shadow: $top $left $blur $color #{$inset};
	-moz-box-shadow: $top $left $blur $color #{$inset};
	box-shadow: $top $left $blur $color #{$inset};
}

// NOTE: 06.03 Background-Size
@mixin background-size($background-size) {
	-webkit-background-size: $background-size;
	-moz-background-size: $background-size;
	-o-background-size: $background-size;
	background-size: $background-size;
}

// NOTE: 06.04 Filter
@mixin filter($filter-type,$filter-amount) {
	-webkit-filter: $filter-type+unquote('(#{$filter-amount})');
	-moz-filter: $filter-type+unquote('(#{$filter-amount})');
	-ms-filter: $filter-type+unquote('(#{$filter-amount})');
	-o-filter: $filter-type+unquote('(#{$filter-amount})');
	filter: $filter-type+unquote('(#{$filter-amount})');
}

// NOTE: 06.05 Placeholders
@mixin input-placeholder {
	&.placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
}

// NOTE: 06.06 Opacity
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}

// NOTE: 06.08 Hover, Active, Focus
@mixin on-event($self: false) {
	@if $self {
		&,
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	} @else {
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	}
}

// NOTE: 06.09 Linear Gradient
@mixin linearGradient($top, $bottom) {
	background: $top; /* Old browsers */
	background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6+ */
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0%, $top),
		color-stop(100%, $bottom)
	); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $top 0%, $bottom 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $top 0%, $bottom 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $top 0%, $bottom 100%); /* IE10+ */
	background: linear-gradient(to bottom, $top 0%, $bottom 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(
			startColorstr='#ffffff',
			endColorstr='#000000',
			GradientType=0
		); /* IE6-9 */
}

@mixin linear-gradient($direction, $color-stops...) {
	// Direction has been omitted and happens to be a color-stop
	@if is-direction($direction) == false {
		$color-stops: $direction, $color-stops;
		$direction: 180deg;
	}

	background: nth(nth($color-stops, 1), 1);
	background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
	background: linear-gradient($direction, $color-stops);
}

// Usage
// @include linear-gradient(#31B7D7, #EDAC7D);
// @include linear-gradient(to right, #E47D7D 0%, #C195D3 50%, #4FB4E8 100%);
// @include linear-gradient(42deg, #B58234 0%, #D2B545 50%, #D7C04D 50.01%, #FFFFFF 100%);

// -----------------------------------------------------------
// NOTE: 07. Clearfix
// -----------------------------------------------------------

// .container-with-floated-children {
//   @extend %clearfix;
// }
// -----------------------------------------------------------

%clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// -----------------------------------------------------------
// NOTE: 08. Visually hide an element
// -----------------------------------------------------------

// <button class="mobile-navigation-trigger">
//   <b class="visually-hidden">Open the navigation</b>
//   <img src="img/mobile-navigation-icon.svg">
// </button>
// .visually-hidden {
//   @extend %visuallyhidden;
// }
// -----------------------------------------------------------

%visuallyhidden {
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	position: absolute;
}
