//  __      __        _       _     _
//  \ \    / /       (_)     | |   | |
//   \ \  / /_ _ _ __ _  __ _| |__ | | ___  ___
//    \ \/ / _` | '__| |/ _` | '_ \| |/ _ \/ __|
//     \  / (_| | |  | | (_| | |_) | |  __/\__ \
//      \/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/

// -----------------------------------------------------------
// NOTE: 01. Font-Stacks
// https://www.cssfontstack.com/
// -----------------------------------------------------------

$text-font-stack: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$text-font-headline: 'Trenda, Besom', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$code-font-stack: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace !default;

// -----------------------------------------------------------
// NOTE: 02. Colors
// -----------------------------------------------------------

$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$red: #f9535a;
$purple: #211240;
$yellow: rgba(255, 255, 0, 1);
$orangeyellow: #ffd41b;
$grey: rgba(223, 223, 223, 1);
$lightgrey: rgba(167, 167, 167, 1);
$blue: rgba(38, 168, 224, 1);

$shadow_one: rgba(0, 0, 0, 0.12);
$shadow_two: rgba(0, 0, 0, 0.24);
$darkgray: #3f3f3f;

// -----------------------------------------------------------
// NOTE: 03. Breakpoints
// -----------------------------------------------------------

$phoneportrait: 540px;
$phonelandscape: 576px;
$tablet: 768px;
$desktop: 992px;
$desktopwide: 1200px;
$desktopultrawide: 1400px;
