//  _____        __            _ _
// |  __ \      / _|          | | |
// | |  | | ___| |_ __ _ _   _| | |_
// | |  | |/ _ \  _/ _` | | | | | __|
// | |__| |  __/ || (_| | |_| | | |_
// |_____/ \___|_| \__,_|\__,_|_|\__|

.main {
  margin-top: 75px;
  padding-left: 25px;
  padding-right: 25px;
 
  @include bp-desktop {
    max-width: 900px;
    margin: 75px auto; 
  }
}

ul {
  padding-left: 0px;
  list-style: none;
}