//  ____        _   _
// |  _ \      | | | |
// | |_) |_   _| |_| |_ ___  _ __  ___
// |  _ <| | | | __| __/ _ \| '_ \/ __|
// | |_) | |_| | |_| || (_) | | | \__ \
// |____/ \__,_|\__|\__\___/|_| |_|___/

button {
	//padding-left: 0 !important;
	//padding-right: 0 !important;
	//margin: 0;
}

// Go to top
.btnTop {
	background-color: $white;
	@include border-radius(25px);
	border: 0;
	outline: none;
	width: 50px;
	height: 50px;
	position: fixed;
	right: -50px;
	bottom: 100px;
	z-index: 98;
	cursor: pointer;
	overflow: hidden;
	@include transition(all .3s ease);
	@include box-shadow(0, 1px, 3px, $shadow_one);
	@include opacity(0);

	@include on-event {
		background-color: $blue !important;

		img:nth-child(1) {
			top: -35px;
			@include transition(all 0.5s ease);
			opacity: 1;
			filter: invert(100%);
		}
		img:nth-child(2) {
			top: -55px;
			@include transition(all 0.5s ease);
			opacity: 1;
			filter: invert(100%);
		}
	}

	img:nth-child(1) {
		width: 50px;
		position: relative;
		top: 0;
		opacity: 0.6;
		@include transition(opacity 0.5s ease);
	}
	img:nth-child(2) {
		width: 50px;
		position: relative;
		top: 0;
		opacity: 0.6;
		@include transition(opacity 0.5s ease);
	}

	@include bp-desktop {
		bottom: 35px !important;
	}

	&.show {
		right: 35px !important;
		bottom: 100px !important;
		@include transition(all .3s ease);
		@include opacity(1);

		@include bp-desktop {
			bottom: 35px !important;
		}
	}

	&.bottom {
		bottom: 190px !important;
		@include transition(all .3s ease);

		@include bp-tablet {
			bottom: 135px !important;
		}

		@include bp-desktop {
			bottom: 85px !important;
		}
	}
}
