//  _____
// |_   _|
//   | |  ___ ___  _ __  ___
//   | | / __/ _ \| '_ \/ __|
//  _| || (_| (_) | | | \__ \
// |_____\___\___/|_| |_|___/

// .icons {
//   background-image: url('/images/icons/icons.svg') !important;
//   background-size: 500px 350px !important;
//   background-position: 0 0;
//   background-repeat: no-repeat !important;
//   vertical-align: top;
//   @include transform(scale(1));
// }

// .icons__logo {
//   width: 139px;
//   height: 25px;
//   background-position: -1px -1px;
// }
