<!DOCTYPE html>
<html id="top" lang="{{ .Site.LanguageCode | default "en-us" }}" itemscope itemtype="http://schema.org/Article">
<head>

  {{ hugo.Generator }}
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{ .Title }}</title>
  <!-- Preconnet Links -->
  <link rel="preconnect" href="https://www.google-analytics.com">

  <!-- Meta Tags -->
	<meta name="description" content="{{.Params.description}}" />
	<meta name="author" content="{{.Params.author}}" />
  <meta name="keywords" content="{{ .Params.keywords }}" />
  <meta name="publisher" content="{{ $.Site.Data.siteVar.params.publisher }}" />
  <meta name="copyright" content="{{ $.Site.Data.siteVar.params.copyright }}" />
  <meta name="page-topic" content="{{if .Params.pagetopic}}{{.Params.pagetopic}}{{else}}{{ $.Site.Data.siteVar.params.pagetopic }}{{end}}" />
  <meta name="page-type" content="{{ $.Site.Data.siteVar.params.pagetype }}" />
  <meta name="audience" content="{{ $.Site.Data.siteVar.params.audience }}" />
  <meta name="robots" content="{{if .Params.robots}}{{.Params.robots}}{{else}}{{ $.Site.Data.siteVar.params.robots }}{{end}}" />

  {{ if eq $.Site.Data.siteVar.params.twitter true }}
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="/images/{{if .IsHome}}{{ $.Site.Data.siteVar.params.image }}{{else}}{{.Params.image}}{{end}}" />
  <meta name="twitter:site" content="{{ $.Site.Data.siteVar.params.twittersite }}" /> 
  {{ end }}

  <!-- Open Graph data -->
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:type" content="{{ $.Site.Data.siteVar.params.pagetype }}" />
  <meta property="og:url" content="/" />
  <meta property="og:image" content="/images/schema_opengraph/{{if .IsHome}}{{ $.Site.Data.siteVar.params.image }}{{else}}{{.Params.image}}{{end}}" /> 
  <meta property="og:description" content="{{.Params.description}}" />
  <meta property="og:site_name" content="{{ .Title }}" />
  <meta property="article:published_time" content="{{.Params.publishedtime}}" />
  <meta property="article:modified_time" content="{{.Params.modifiedtime}}" />
  <meta property="article:section" content="{{if .IsHome}}{{ $.Site.Data.siteVar.params.pagetopic }}{{else}}{{.Params.pagetopic}}{{end}}" />
  <meta property="article:tag" content="{{ .Params.keywords }}" />
  {{ if $.Site.Data.siteVar.params.fbadmins }}
  <meta property="fb:admins" content="{{ $.Site.Data.siteVar.params.fbadmins }}" />
  {{ end }}

  {{ partial "favicons.html" . }}

  <!-- /assets/scss/main.scss -->
  {{ $styles := resources.Get "scss/main.scss" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
  
  <!-- Bootstrap if needed / JS at the end of this file 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  -->

  <!-- If you have fonts from https://www.myfonts.com
  <script>
    var woffEnabled = false;
    var customPath = "/fonts";
    var l = document.createElement('script');
    l.src = '/fonts/MyFontsWebfontsKit.js';
    var h = document.head.appendChild(l);
  </script> -->
  <!-- Google Webfonts or include in /assets/base/_fonts.scss
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" as="style">
  -->

  <!-- Schema.org -->
  {{ if .IsHome }}
  <script type='application/ld+json'> 
  {
    "@context": "http://www.schema.org",
    "@type": "{{ $.Site.Data.siteVar.schema.type }}",
    "name": "{{ $.Site.Data.siteVar.schema.name }}",
    "url": "/",
    "logo": "/images/schema_opengraph/{{ $.Site.Data.siteVar.schema.logo }}",
    "image": "/images/schema_opengraph/{{ $.Site.Data.siteVar.schema.image }}",
    "description": "{{ i18n "description" }}",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ $.Site.Data.siteVar.schema.street }}",
      "addressLocality": "{{ $.Site.Data.siteVar.schema.locality }}",
      "addressRegion": "{{ $.Site.Data.siteVar.schema.region }}",
      "postalCode": "{{ $.Site.Data.siteVar.schema.code }}",
      "addressCountry": "{{ $.Site.Data.siteVar.schema.country }}",
      "telephone": "{{ $.Site.Data.siteVar.schema.telephone | safeHTML }}"
    }
  }
  </script>

  {{- else if .IsPage -}}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "{{.Params.schematype}}",
    "headline": "{{ .Title }}",
    "image": "/images/schema_opengraph/{{.Params.image}}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Permalink }}"
    },
    "genre": "{{.Params.pagetopic}}",
    {{ with .Params.tags -}}
    "keywords": "{{ delimit . ", " }}",
    {{- end }}
    "wordcount": {{ .WordCount }},
    "url": "{{ .Permalink }}",
    {{ if not .PublishDate.IsZero -}}
    "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
    {{- else if not .Date.IsZero -}}
    "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
    {{- end }}
    {{ with .Lastmod -}}
    "dateModified": "{{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
    {{- end }}
    "license": "{{ $.Site.Data.siteVar.params.copyright }}",
    "publisher": {
      "@type": "Organization",
      "name": "{{ $.Site.Data.siteVar.schame.name }}",
      "logo": {
        "@type": "ImageObject",
        "url": "/images/schema_opengraph/{{ $.Site.Data.siteVar.schema.logo | absURL }}" 
      }
    },
    {{ if .Params.author -}}
    "author": {
      "@type": "Person",
      "name": "{{ .Params.author }}"
    },
    {{- else if $.Site.Data.siteVar.params.name -}} 
    "author": {
      "@type": "Person",
      "name": "{{ $.Site.Data.siteVar.params.name }}"
    },
    {{- end }}
    "description": "{{ .Description }}"
  }
  </script>
 
  {{ end }}

</head>
<body>
  {{ partial "header.html" . }}

  <main class="main">
    {{ block "main" . }}
    {{ end }}
  </main>

  {{ block "footer" . }}
    {{ partial "footer.html" . }}
  {{ end }}

  <!-- Bootstrap & JQuery if needed 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" defer></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" defer></script>
  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js" defer></script>
  <!-- /assets/js/main.js -->
  {{ $js := resources.Get "js/main.js" | minify }}
  <script src="{{$js.Permalink}}" defer></script>


  <!-- DSGVO Google OptOut Button Script, in PrivacyPolicy Link with ID "gaOptOut" -->
  <script type="text/javascript">
    var gaProperty = '{{$.Site.Data.siteVar.params.GATrackingId}}';
    var disableStr = 'ga-disable-' + gaProperty;
    if (document.cookie.indexOf(disableStr + '=true') > -1) { 
      window[disableStr] = true; 
    }
    
    function gaOptout() {
      document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
      window[disableStr] = true;
      alert('{{ i18n "endAnalyticsText" }}');
      return false;
    }

    if (document.getElementById('gaOptOut') != null)
    document.getElementById('gaOptOut').onclick = gaOptout;
  </script>

  <!-- DSGVO Cookietext -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.1/cookieconsent.min.js" defer></script>
  <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "{{$.Site.Data.siteVar.params.cookiesBackground}}"
        },
        "button": {
          "background": "{{$.Site.Data.siteVar.params.cookiesButtonBackground}}",
          "text": "{{$.Site.Data.siteVar.params.cookiesTextColor}}"
        }
      },
      "position": "{{$.Site.Data.siteVar.params.cookiesPosition}}",
      "content": {
        "message": "{{ i18n "cookiestext" }}",
        "dismiss": "{{ i18n "cookiesaccept" }}",
        "link": "{{ i18n "moreInfosText" }}",
        "href": "{{ $.Scratch.Get "baseURL" }}{{ $.Scratch.Get "languagePrefix" }}{{ i18n "moreInfosLink" }}"
      }
    })});
  </script>

  {{ if $.Site.Data.siteVar.params.GATrackingId }}
  <!-- Google Analytics Code -->
    {{ if .IsHome }}
      <script src="https://cdn.jsdelivr.net/ga-lite/latest/ga-lite.min.js" defer></script>
      <script>
      var galite = galite || {};
      galite.UA = '{{$.Site.Data.siteVar.params.GATrackingId}}';
      galite.anonymizeIp = {{$.Site.Data.siteVar.params.GAAnonymize}}; // IP address is anonymized.
      </script>
    {{ else }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://www.googletagmanager.com/gtag/js?id={{$.Site.Data.siteVar.params.GATrackingId}}" defer></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{$.Site.Data.siteVar.params.GATrackingId}}', { 'anonymize_ip': {{$.Site.Data.siteVar.params.GAAnonymize}} });
    </script>
    {{ end }}
  {{ end }}
    <script>
      $(document).on('click', 'a[href^="#"]', function (event) {
    event.preventDefault();

    $('html, body').animate({
        scrollTop: $($.attr(this, 'href')).offset().top
    }, 2000);
});
    </script>
</body>
</html>