{{ define "main" }}

{{ range where .Pages "Section" "projects" }}
  <article class="article">
    <div class="date">{{i18n "published"}}: {{.PublishDate.Day}}. {{i18n .PublishDate.Month}} {{.PublishDate.Year}}</div>

    <div class="tags">
    {{ if .Params.tags }}
      Tags: 
      {{range .Params.tags}}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{end}}
    {{end}}
    </div>

    <div class="categories">
    {{ if .Params.categories }}
      Categories:
      {{range .Params.categories}}
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{end}}
      {{end}}
    </div>

    <p class="summary">{{.Summary}}</p>
  </article>

  {{ end }}
{{ end }}