//  ______          _
// |  ____|        | |
// | |__ ___   ___ | |_ ___ _ __
// |  __/ _ \ / _ \| __/ _ \ '__|
// | | | (_) | (_) | ||  __/ |
// |_|  \___/ \___/ \__\___|_|

footer {
  background-color: $white;
  border-top: 1px solid $grey;
  
  .container {
    max-width: 400px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;

    @include bp-tablet {
      flex-direction: row;
      justify-content: space-between;
    }

    .socialmedia {
      padding-left: 0;
      flex-grow: 1;
      flex: 1 1 0;
      display: flex;
  
      @include bp-tablet {
        order: 2;
        max-width: 200px;
      }
      
      .footer_icons {
        width: 20px;
        flex-grow: 1;
      }

      .item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        list-style-type: none;
        flex-grow: 1;
        text-align: center;
        @extend .text_small;

        .icons {
          @include transition(all .8s ease);

          @include on-event {
            // Use this tool to compute: https://codepen.io/sosuke/pen/Pjoqqp
            filter: invert(58%) sepia(60%) saturate(1887%) hue-rotate(165deg) brightness(94%) contrast(87%);
            @include transition(all .3s ease);
          }
        }
      }
    }

    .menu {
      padding-left: 0;
      flex-grow: 1;
      flex: 1 1 0;
      display: flex;
  
      @include bp-tablet {
        order: 1;
        max-width: 150px;
      }

      .item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        list-style-type: none;
        flex-grow: 1;
        text-align: center;
        @extend .text_small;

        .link {
          text-decoration: none;
          color: $black;
      
          @include on-event {
            color: $blue;
          }
        }
      }
    }
  }
}
