//  _    _                _
// | |  | |              | |
// | |__| | ___  __ _  __| | ___ _ __
// |  __  |/ _ \/ _` |/ _` |/ _ \ '__|
// | |  | |  __/ (_| | (_| |  __/ |
// |_|  |_|\___|\__,_|\__,_|\___|_|

.header {
	.mobile_sticky_header {
		position: fixed;
		display: inherit;
		top: 0px;
		width: 100%;
		height: 75px;
		text-align: left;
		background-color: $darkgray;
		z-index: 1;

		//@include transform(translate3d(0, -100%, 0));
		@include transition(all .3s ease);

		&_logo {
			width: 130px;
			margin: 15px 0 0 50px;
		}

		&.show {
			@include transform(translate3d(0, 0, 0));
			@include transition(all .3s ease);
		}

		nav {
			z-index: 2;
			float: right;
			display: inline;
			margin-top: 30px;
			width: 50vw;
			text-align: center;
			@include bp-phoneportrait {
				display: none;
			}

			li {
				display: inline;
				margin: auto;
				margin: 5%;

				a {
					text-decoration: none;
					color: $white;
					text-size-adjust: 30pt;
				}
			}
		}
	}

	picture img {
		width: 100vw;
		height: 100vh;
		object-fit: cover;

		@include bp-phoneportrait {
			// margin-top: 75px;

			//transform: scale(contain);
			//size: cover;
		}
	}

	&_logo {
		position: absolute;
		top: 30px;
		width: 100%;

		@include bp-desktop {
			// display: none;
		}

		img {
			display: block;
			width: 220px;
			margin: 0 auto;
		}
	}
}
