//  _   _             _             _   _
// | \ | |           (_)           | | (_)
// |  \| | __ ___   ___  __ _  __ _| |_ _  ___  _ __
// | . ` |/ _` \ \ / / |/ _` |/ _` | __| |/ _ \| '_ \
// | |\  | (_| |\ V /| | (_| | (_| | |_| | (_) | | | |
// |_| \_|\__,_| \_/ |_|\__, |\__,_|\__|_|\___/|_| |_|
//                       __/ |
//                      |___/

// Menu Button
.menu_btn_container {
	background-color: $white;
	@include border-radius(25px);
	width: 50px;
	height: 50px;
	position: fixed;
	right: 35px;
	bottom: 35px;
	z-index: 99;
	cursor: pointer;
	@include transition(all .3s ease);
	@include box-shadow(0, 1px, 3px, $shadow_one);

	@include bp-desktop {
		//display: none;
	}

	&.bottom {
		bottom: 130px;
		@include transition(all .3s ease);

		@include bp-tablet {
			bottom: 75px !important;
		}
	}

	.menu_btn {
		padding: 0;
		width: 50px;
		height: 50px;
		border: 0;
		background: none;
		outline: none;
		@include transition(all .3s ease);

		&_line {
			width: 28px;
			height: 2px;
			margin: 0 0 5px 0;
			background-color: $black;
			@include transition(all .3s ease);

			// Line 1+2 - Rotate
			&:nth-child(1) {
				@include transform(translate(11px, 4px));
			}
			&:nth-child(2) {
				@include transform(translate(11px, 4px));
			}

			&.black {
				background-color: $black;
				@include transition(all .3s ease);
			}
		}

		// Rotate Into X With Menu Lines
		&.close {
			@include transform(rotate(180deg));

			.menu_btn_line {
				// Line 1+2 - Rotate
				&:nth-child(1) {
					@include transform(rotate(45deg) translate(12px, -4px));
				}
				&:nth-child(2) {
					@include transform(rotate(-45deg) translate(9px, 7px));
				}
			}
		}
	} // .menu_btn
} // .menu_btn_container

// Menu Overlay
.menu_container {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.95);
	border-bottom: 1px solid $grey;
	z-index: 97;
	@include transform(translate3d(0, 100%, 0));
	@include transition(all .3s ease);

	@include bp-tablet {
		width: 290px;
		@include transform(translate3d(290px, 0, 0));
		@include box-shadow(0, 1px, 3px, $shadow_one);
	}

	@include bp-desktop {
		width: 100%;
		height: 75px;
		@include transform(translate3d(0, 0, 0));
		@include transition(all .3s ease);
		box-shadow: none;
		left: 0;
	}

	&.show {
		@include transform(translate3d(0, 0, 0));
	}

	.menu {
		@include bp-desktop {
			max-width: 900px;
			margin: auto;
			display: flex;
		}

		&_link {
			text-decoration: none;
		}

		&_title {
			color: $black;

			@include on-event {
				color: $blue;
			}
		}

		&_items {
			list-style: none;

			@include bp-desktop {
				float: left;
				list-style: none;
				display: flex;
				justify-content: start;
			}
		}

		&_item {
			@include bp-desktop {
				margin-right: 20px;
			}
		}

		&_branding {
			display: block;
			margin: 40px;

			&_logo {
				width: 200px;

				@include bp-desktop {
					width: 150px;
				}
			}

			@include bp-desktop {
				margin: 24px 0 0 0;
			}
		}

		// Language Selector
		&_language {
			padding-left: 40px;
			display: flex;
			flex-direction: row;

			@include bp-desktop {
				margin-top: 24px;
			}

			&_select,
			&_noselect {
				padding: 0px;
				margin: 0px;
				border-radius: 26px;
				width: 52px;
				height: 52px;

				@include bp-desktop {
					border-radius: 0;
					width: 49px;
					height: 31px;
				}

				img {
					width: 80px;
					clip-path: circle(20px at center);
					margin-left: -14px;
					margin-top: 2px;

					@include bp-desktop {
						width: 45px;
						clip-path: none;
						margin-left: 2px;
						margin-top: 2px;
					}
				}
			}

			&_select {
				border: 2px solid $blue;
			}

			&_noselect {
				border: 2px solid transparent;
			}
		}
	}
}
