//  _____           _
// |_   _|         | |
//   | |  _ __   __| | _____  __
//   | | | '_ \ / _` |/ _ \ \/ /
//  _| |_| | | | (_| |  __/>  <
// |_____|_| |_|\__,_|\___/_/\_\

/* TinySlider

.tns-outer {
  position: relative;
  margin-bottom: 40px;

  .tns-nav {
    z-index: 99;
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;    
    background: none;
    width: 100%; 
    display: flex;
    align-items: center;    
    justify-content: center;

    button {
      width: 10px;
      height: 10px;
      border-radius: 10px;
      border: none;
      background: rgba(255, 255, 255, 0.2);
      padding: 0;
      margin: 5px;
    }

    &-active {
      background: rgba(255, 255, 255, 0.6) !important;
    }
  }

  .tns-controls {
    z-index: 99;
    max-width: 960px;
    margin: 105px 0 0 0;
    padding: 0;
    list-style: none;
    position: absolute;
    // left: 0;    
    background: none;
    width: 100%;    
    top: 50%;
    transform: translatey(-270%);
    display: flex;
    align-items: center;    
    justify-content: space-between;
    
    button {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      border: none;
      // background: rgba(255, 255, 255, 0.6);
      text-indent: -9999px;
      line-height: 0; 
      opacity: 0.4;
      @include transition(all .3s ease);

      &:nth-child(1) {
        margin-left: 10px;

        @include bp-desktop {
          margin-left: 30px;
        }

        &:after {
          content: '';
          background-image: url('/images/icons/other/arrow_left.svg');
          background-size: 40px 40px;
          width: 40px;
          height: 40px;
          margin-left: -4px;
          text-indent: 0;
          display: block;
          line-height: initial;
        }  
      }
            
      &:nth-child(2) {
        margin-right: 10px;

        @include bp-desktop {
          margin-right: 30px;
        }

        &:after {
          content: '';
          background-image: url('/images/icons/other/arrow_right.svg');
          background-size: 40px 40px;
          width: 40px;
          height: 40px;
          margin-left: -2px;
          text-indent: 0;
          display: block;
          line-height: initial; 
        }
      }
        
      &:focus {
        outline: none;
      }
  
      &:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.6);
        opacity: 1;
        @include transition(all .3s ease);    
      }
    }    
  }

  .tns-item {

    img {
      width: 100%;
    }
  }

} // .tns-outer
*/
html {
	scroll-behavior: smooth;
}
#page_welcome {
	//width: 50vw;
	text-align: center;
	margin: auto;
	.yellow_text {
		color: $orangeyellow;
	}
} // #page_welcome

#vorteile {
	width: 100%;
	text-align: center;
	margin: auto;
	display: flex;
	@include bp-phoneportrait {
		flex-direction: column;
	}
	h4 {
		text-align: left;
	}
	section {
		text-align: left;
		//float: left;
		margin: 0 20px 0 20px;
	}

	h4 {
		//width: 75%;
	}
	ul {
		font-weight: bold;
		text-align: left;

		//margin: 40px;

		li {
			background-image: url(/images/body/ovals.svg);
			background-repeat: no-repeat;
			background-size: contain;
			text-align: left;
			width: 50%;
			padding: 20px 0 20px 0;
			margin-top: 5px;
		}
	}
	div {
		font-weight: normal;
		width: 75%;
	}
}

.lockere_atmosphaere {
	display: flex;
	justify-content: space-around;
	@include bp-phoneportrait {
		flex-direction: column;
	}
	img {
		margin: 10px 10px 10px 0;
		width: 50%;
		z-index: 0;
		background: url(/images/body/3-cyrcked-black-lines-.svg);
		background-size: cover;

		z-index: 0;
		padding-right: 2px;
		@include bp-phoneportrait {
			width: 100%;
		}
	}
	aside {
		margin: auto;
		text-align: right;
		flex-basis: 50%;
		@include bp-phoneportrait {
			text-align: center;
			width: 80%;
			margin: auto;
		}
		//height: 100%;
	}

	h4 {
		color: $orangeyellow;
		font-weight: bold;
		margin: auto;
		text-align: right;
		@include bp-phoneportrait {
			text-align: center;
		}
	}
}

.mittle_section {
	display: flex;

	justify-content: space-around;
	@include bp-phoneportrait {
		flex-direction: column;
	}
	img {
		margin: 10px 10px 10px 0;
		width: 50%;
		z-index: 0;
		background: url(/images/body/3-cyrcked-black-lines-.svg);
		background-size: cover;
		padding-right: 2px;
		@include bp-phoneportrait {
			width: 100%;
			order: 1;
		}
	}
	aside {
		margin: auto;
		flex-basis: 50%;
		@include bp-phoneportrait {
			text-align: center;
			margin: auto;
			order: 2;
		}
		//height: 100%;
	}

	h4 {
		color: $orangeyellow;
		font-weight: bold;
		margin: auto;
		text-align: left;
		@include bp-phoneportrait {
			text-align: center;
		}
	}
}
h4 {
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
}
.row {
	background: $orangeyellow;
	border-radius: 5px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 10px;
	flex-wrap: 1;
	padding: 20px 10px;

	@include bp-phoneportrait {
		flex-direction: column;
		width: 80%;
		margin: auto;
	}
	.col-sm-4 {
		//float: left;
		//display: inline;
		background: $white;
		padding-left: 1%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;
		flex-basis: 30%;
		@include bp-phoneportrait {
			flex-basis: 95%;
			margin: 5%;
		}
		h5 {
			margin: 0;
			text-align: center;
			font-weight: bold;
			font-size: 95%;
		}
		p {
			padding: 10%;
			margin-top: 0px;
			padding-top: 0;
		}
		a {
			button {
				background: $orangeyellow;
				border: none;
				border-radius: 3px;
				margin: 0 0 20px 35%;
				display: inline-flexbox;
				//padding: 5px 18px;
				color: $darkgray;
				&:hover {
					background: $darkgray;
					color: $white;
				}
			}
		}
	}
}
// #page_team
.line {
	position: relative;
	left: 48%;
	margin-top: 60px;
}

#page_leistungen {
	background: red($color: #000000);
	ul {
		li {
			display: inline;
			@include font-size-line-height(12,20);
		}
	}
} // #page_leistungen

#belegungsplan {
	.belegungsplan {
		text-align: center;
	}
	h3 {
		text-align: center;
		margin: auto;

		span {
			color: $orangeyellow;
		}
	}
}
#erreichbarkeit {
	text-align: center;
	@include bp-phoneportrait {
		font-size: 9pt;
	}
	.maps {
		margin: 20px;
		display: flex;
		justify-content: space-evenly;
		iframe {
			width: 100%;
		}
		@include bp-phoneportrait {
			flex-direction: column;
		}
	}
}
.checkboxes {
	display: grid;
	grid-template-columns: repeat(3, 1fr 2fr);
	grid-gap: 1em;
	color: $orangeyellow;
	font-weight: bold;
	margin-left: 10%;
	@include bp-phoneportrait {
		grid-template-columns: repeat(2, 1fr 2fr);
	}
}
