<div class="clearfix"></div>
<footer class="footer">
  <div class="container">
    <ul class="socialmedia">
      <li class="item">
        <a href="{{ $.Site.Data.siteVar.golbalImages.iconTwitterLink }}" title="{{ i18n "iconTwitterTitle" }}"><img src="/images/icons/socialmedia/{{ $.Site.Data.siteVar.golbalImages.iconTwitter }}" class="icons" alt="{{ i18n "iconTwitterAlt" }}" /></a>
      </li>
      <li class="item">
        <a href="{{ $.Site.Data.siteVar.golbalImages.iconFacebookLink }}" title="{{ i18n "iconFacebookTitle" }}"><img src="/images/icons/socialmedia/{{ $.Site.Data.siteVar.golbalImages.iconFacebook }}" class="icons" alt="{{ i18n "iconFacebookAlt" }}" /></a>
      </li> 
      <li class="item">
        <a href="{{ $.Site.Data.siteVar.golbalImages.iconInstagramLink }}" title="{{ i18n "iconInstagramTitle" }}"><img src="/images/icons/socialmedia/{{ $.Site.Data.siteVar.golbalImages.iconInstagram }}" class="icons" alt="{{ i18n "iconInstagramAlt" }}" /></a>
      </li> 
      <li class="item">
        <a href="{{ $.Site.Data.siteVar.golbalImages.iconLinkedInLink }}" title="{{ i18n "iconLinkedInTitle" }}"><img src="/images/icons/socialmedia/{{ $.Site.Data.siteVar.golbalImages.iconLinkedIn }}" class="icons" alt="{{ i18n "iconLinkedInAlt" }}" /></a>
      </li>
      <li class="item">
        <a href="{{ $.Site.Data.siteVar.golbalImages.iconXingLink }}" title="{{ i18n "iconXingTitle" }}"><img src="/images/icons/socialmedia/{{ $.Site.Data.siteVar.golbalImages.iconXing }}" class="icons" alt="{{ i18n "iconXingAlt" }}" /></a>
      </li>  
    </ul>
    <ul class="menu">
      {{ range .Site.Menus.footer }}
      <li class="item">
        <a href="{{ .URL | absLangURL }}" class="link" title="{{ .Name }}">
          {{ .Pre }}
          <span class="title">{{ .Name }}</span>
        </a>
      </li>
      {{end}}
    </ul>
  </div>
</footer>