<!-- This content is on every page, included in baseof.html -->
<header class="header">
  <!-- Navigation -->
  <div class="menu_btn_container">
    <button type="button" class="menu_btn" aria-label="{{ i18n "menuBtnLabel" }}">
      <div class="menu_btn_line"></div>
      <div class="menu_btn_line"></div>
    </button>
  </div>

  <!-- Navigation 
  <nav class="menu_container">
    <div class="menu">
      <a href="/" class="menu_branding" title="{{ i18n "logoTitle" }}">
        <img src="/images/icons/{{ $.Site.Data.siteVar.golbalImages.logo }}" class="menu_branding_logo" alt="{{ i18n "logoAlt" }}">
      </a>
      <ul class="menu_items">
        {{ range .Site.Menus.main }}
        <li class="menu_item">
          <a href="{{ .URL | absLangURL }}" class="menu_link" title="{{ .Name }}">
            {{ .Pre }}
            <span class="menu_title">{{ .Name }}</span>
          </a>
        </li>
        {{end}}
      </ul>
    </div>
  </nav>
  -->

  <!-- To Top Button -->
  <button href="#top" class="btnTop scroll" aria-label="{{ i18n "btnTopTitle" }}">
    <img src="/images/icons/other/arrow_up.svg" alt="{{ i18n "btnTopTitle" }}">
    <img src="/images/icons/other/arrow_up.svg" alt="{{ i18n "btnTopTitle" }}">

  </button>

  <!-- Sticky Header On Mobile Hidden -->
  <div  class="mobile_sticky_header" title="{{ i18n "stickyHeaderTitle" }}">
    <a href="/"><svg class="mobile_sticky_header_logo" width="157px" height="48px" viewBox="0 0 157 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  alt="{{ i18n "logoAlt" }}">
      <g id="Bootstrap4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Suedspace_Desktop-1128" transform="translate(-89.000000, -38.000000)">
              <g id="Group-3-Copy-2" transform="translate(88.000000, 33.000000)">
                  <text id="SÜDSPACE" font-family="Isidora-Black, Isidora" font-size="30" font-weight="700" fill="#FFD41B">
                      <tspan x="0.705" y="33">SÜDSPACE</tspan>
                  </text>
                  <text id="coworking" transform="translate(116.961662, 41.028138) rotate(-1.000000) translate(-116.961662, -41.028138) " font-family="Isidora-Regular, Isidora" font-size="17" font-weight="normal" line-spacing="50" fill="#FFFFFF">
                      <tspan x="76.4251616" y="50.528138">coworking</tspan>
                  </text>
              </g>
          </g>
      </g>
  </svg></a>
  <nav>
    <li><a href="#fist-header">Vorteile</a></li>
    <li><a href="#unsere-Preise">Preise</a></li>
    <li><a href="#zu-Erreichbarkeit">Kontakt</a></li>
  </nav>
  </div>

  <!-- Jumbotron -->
  <picture>
    <source 
      srcset="/images/header/{{ $.Site.Data.siteVar.golbalImages.header }}_320.webp 320w,
              /images/header/{{ $.Site.Data.siteVar.golbalImages.header }}_768.webp 768w,
              /images/header/{{ $.Site.Data.siteVar.golbalImages.header }}_1200.webp 1200w,
              /images/header/{{ $.Site.Data.siteVar.golbalImages.header }}_1920.webp 1920w,
              /images/header/{{ $.Site.Data.siteVar.golbalImages.header }}.webp 2560w" 
      type="image/webp">
    <source 
      srcset="/images/header/{{ $.Site.Data.siteVar.golbalImages.header }}_320.jpg 320w,
              /images/header/{{ $.Site.Data.siteVar.golbalImages.header }}_768.jpg 768w,
              /images/header/{{ $.Site.Data.siteVar.golbalImages.header }}_1200.jpg 1200w,
              /images/header/{{ $.Site.Data.siteVar.golbalImages.header }}_1920.jpg 1920w,
              /images/header/{{ $.Site.Data.siteVar.golbalImages.header }}.jpg 2560w" 
      type="image/jpeg"> 
    <img src="/images/header/{{ $.Site.Data.siteVar.golbalImages.header }}_1200.jpg" alt="{{ i18n "headerAlt" }}"/>
<picture>
 <!-- <a href="/" title="{{ i18n "logoTitle" }}" class="header_logo">
    <img src="/images/icons/{{ $.Site.Data.siteVar.golbalImages.logo_white }}" alt="{{ i18n "logoAlt" }}" />
  </a> -->
</header>