{{ define "main" }}
{{ $baseURL := .Site.BaseURL }}

<!-- Homepage -->
<section id="page_welcome">
  <h2 id="fist-header" class="welcometext">{{ .Params.welcomeText | safeHTML }} </h2>
  <h3 class="ab7euro">{{ .Params.teamText | safeHTML }}</h3>
</section>

<section id="vorteile">
    <section class="bekommst">
      <h4>{{.Params.bekommst}}</h4>
      <ul>
        {{range .Params.wir}}
        <li>
          {{.name}}
          
        </li>
        <div>{{.service}}</div>
        {{end}}
      </ul>
       <ul></ul>
       
      
    </section>
    <section class="mitbringst">
      <h4>{{.Params.mitbringst}}</h4>
      <ul>
        {{range .Params.du}}
        <li>
          {{.name}}
        </li>
        {{end}}
      </ul>
      </section>
</section>
<section class="lockere_atmosphaere">
  <img src="/images/body/lockere Atmosphaere.png" alt="">
  <aside><h4>{{ .Params.lockere_atmosphaere }}</h4>{{ .Params.lockere_atm_text }}</aside>
</section>

<section class="mittle_section">
  <aside class="mittle_section_aside"><h4>{{ .Params.meetingsraum_headline }}</h4>{{ .Params.meetingsraum_text }}</aside>
  <img class="mittle_section_img"src="/images/body/meetingsraum.png" alt="">
</section>

<section class="lockere_atmosphaere">
  <img src="/images/body/essen.png" alt="">
  <aside><h4>{{ .Params.essen_headline }}</h4>{{ .Params.essen_text }}</aside>
</section>

<svg id="unsere-Preise" class="line" width="26px" height="146px" viewBox="0 0 26 146" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Bootstrap4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Suedspace_Desktop-1128" transform="translate(-551.000000, -4712.000000)" fill="#FFD41B" fill-rule="nonzero">
          <path id="Path-4-Copy" d="M569.494019,4833.52854 C569.76056,4832.74416 570.612498,4832.32437 571.396875,4832.59091 C572.181252,4832.85745 572.601041,4833.70939 572.3345,4834.49377 C571.705646,4836.34436 571.00568,4838.21245 570.234656,4840.09805 C574.076621,4842.65511 575.57992,4847.70417 573.569196,4852.01544 C571.351529,4856.77042 565.699079,4858.82733 560.944095,4856.60966 L560.944095,4856.60966 L560.691954,4856.48759 C556.117014,4854.19041 554.171812,4848.65463 556.349877,4843.98456 C558.342379,4839.71236 563.107588,4837.61817 567.5034,4838.84539 C568.235024,4837.05539 568.897837,4835.28298 569.494019,4833.52854 Z M567.358716,4841.95877 C564.18225,4840.69394 560.532271,4842.11453 559.068717,4845.25259 C557.551366,4848.506 558.95872,4852.37347 562.212129,4853.89082 L562.212129,4853.89082 L562.429901,4853.98766 C565.636266,4855.34471 569.366724,4853.92852 570.850356,4850.74741 C572.314211,4847.6087 571.055955,4843.89847 568.044123,4842.2783 C567.937607,4842.26081 567.832406,4842.22949 567.729358,4842.18577 C567.594778,4842.12867 567.472863,4842.05422 567.365112,4841.96614 Z M574.587472,4816.88048 L574.731729,4816.89077 C575.554328,4816.98886 576.141654,4817.73523 576.043559,4818.55783 C575.728626,4821.19878 575.250814,4823.87968 574.610391,4826.60044 C574.420579,4827.40683 573.613,4827.90666 572.806611,4827.71685 C572.000222,4827.52704 571.500387,4826.71946 571.690198,4825.91307 C572.305164,4823.30047 572.763231,4820.73035 573.064665,4818.2026 C573.16276,4817.38 573.90913,4816.79267 574.731729,4816.89077 Z M574.120363,4800.94676 C574.939073,4800.82025 575.705327,4801.38139 575.83184,4802.2001 C576.246101,4804.88094 576.467678,4807.61034 576.496715,4810.38776 C576.505376,4811.21615 575.840861,4811.8947 575.012479,4811.90336 C574.184097,4811.91202 573.50554,4811.24751 573.496879,4810.41913 C573.469327,4807.78374 573.259328,4805.19696 572.867028,4802.65824 C572.740516,4801.83953 573.301653,4801.07327 574.120363,4800.94676 Z M568.940014,4785.81351 C569.686365,4785.454 570.582847,4785.76759 570.942362,4786.51394 C572.14487,4789.01034 573.152597,4791.55823 573.965202,4794.15714 C574.212424,4794.94782 573.771867,4795.7892 572.981188,4796.03642 C572.19051,4796.28365 571.349125,4795.84309 571.101902,4795.05241 C570.333044,4792.59342 569.379053,4790.18139 568.239585,4787.81586 C567.88007,4787.06951 568.193663,4786.17303 568.940014,4785.81351 Z M560.347368,4772.44363 C561.045533,4771.9977 561.973008,4772.20217 562.418941,4772.90034 C563.23877,4774.18389 564.122407,4775.47395 565.069907,4776.77049 L565.069907,4776.77049 L565.691138,4777.63472 C566.099529,4778.21243 566.496393,4778.79325 566.881724,4779.37718 C567.338008,4780.06862 567.147372,4780.99904 566.455926,4781.45532 C565.764481,4781.91161 564.834063,4781.72097 564.377779,4781.02953 C563.826226,4780.19371 563.249561,4779.36406 562.647763,4778.54058 L562.647763,4778.54058 L562.065143,4777.73324 C561.298714,4776.65754 560.573877,4775.58487 559.89066,4774.51521 C559.444727,4773.81704 559.649202,4772.88956 560.347368,4772.44363 Z M554.038211,4757.6925 C554.836526,4757.47117 555.663108,4757.93891 555.884435,4758.73723 C556.548398,4761.13211 557.451732,4763.55227 558.595379,4765.99786 C558.946306,4766.74829 558.622446,4767.64112 557.872018,4767.99204 C557.121591,4768.34297 556.228766,4768.01911 555.87784,4767.26868 C554.664767,4764.67463 553.703,4762.09792 552.993482,4759.53872 C552.772156,4758.74041 553.239897,4757.91383 554.038211,4757.6925 Z M551.968047,4743.02489 C552.099662,4742.20699 552.869401,4741.65064 553.687306,4741.78226 C554.505211,4741.91387 555.061559,4742.68361 554.929943,4743.50151 C554.523498,4746.02731 554.405209,4748.57788 554.57515,4751.15538 C554.629653,4751.98201 554.003718,4752.69631 553.177085,4752.75081 C552.350453,4752.80531 551.636152,4752.17938 551.58165,4751.35275 C551.396898,4748.55063 551.525672,4745.77396 551.968047,4743.02489 Z M556.17921,4716.40774 C559.267729,4712.1664 565.209754,4711.23186 569.451094,4714.32037 L569.451094,4714.32037 L569.679156,4714.49164 C573.725087,4717.62441 574.570824,4723.42803 571.53846,4727.59226 C568.778231,4731.38277 563.738876,4732.53211 559.671235,4730.52899 C558.606083,4732.37501 557.70697,4734.23246 556.972229,4736.10136 C556.669124,4736.87235 555.798401,4737.25164 555.027415,4736.94854 C554.25643,4736.64543 553.877138,4735.77471 554.180243,4735.00372 C555.002344,4732.91261 556.012906,4730.84099 557.211253,4728.78903 C553.890743,4725.54679 553.365598,4720.27156 556.17921,4716.40774 Z M567.480806,4716.60255 C564.595106,4714.66329 560.668408,4715.33924 558.604355,4718.17372 C556.569119,4720.96863 557.087149,4724.84288 559.720631,4727.01278 C559.809769,4727.04504 559.896293,4727.08766 559.979711,4727.13946 C560.12828,4727.23172 560.255122,4727.34572 560.358676,4727.47479 C563.230981,4729.31757 567.077851,4728.6215 569.113315,4725.82628 C571.226513,4722.92431 570.587087,4718.85872 567.685117,4716.74552 L567.685117,4716.74552 Z"></path>
      </g>
  </g>
</svg>
<h4>Unsere Preise</h4>
<div class="row">
  <div class="col-sm-4">
    <h5>Täglich</h5>
      <p>• Du bist nur einen Tag bei uns. <br>
        • Du schnupperst mal rein und wirst mit Klein-Utopia warm.<br>
        • Du kannst Dir einen freien Schreibtisch aussuchen und Dich von morgens bis Abends 
        breit machen.<br><br>
        All Inclusive<br>
        •Tisch+Bürostuhl+Strom<br>
        • WLAN/LAN (Internet)<br>
        • Badezimmer (Dusche & Klo)<br>
        • Gute Gesellschaft :-)
      </p>
    <a href="#"><button>BUCHEN</button></a>
  </div>
  <div class="col-sm-4">
    <h5>Monatlich</h5>
      <p>• Du bist nur einen Tag bei uns. <br>
        • Du schnupperst mal rein und wirst mit Klein-Utopia warm.<br>
        • Du kannst Dir einen freien Schreibtisch aussuchen und Dich von morgens bis Abends 
        breit machen.<br><br>
        All Inclusive<br>
        •Tisch+Bürostuhl+Strom<br>
        • WLAN/LAN (Internet)<br>
        • Badezimmer (Dusche & Klo)<br>
        • Gute Gesellschaft :-)
      </p>
    <a href="#"><button>BUCHEN</button></a>
  </div>
  <div class="col-sm-4">
    <h5>Meetingsraum</h5>
      <p>• Du bist nur einen Tag bei uns. <br>
        • Du schnupperst mal rein und wirst mit Klein-Utopia warm.<br>
        • Du kannst Dir einen freien Schreibtisch aussuchen und Dich von morgens bis Abends 
        breit machen.<br><br>
        All Inclusive<br>
        •Tisch+Bürostuhl+Strom<br>
        • WLAN/LAN (Internet)<br>
        • Badezimmer (Dusche & Klo)<br>
        • Gute Gesellschaft :-)
      </p>
    <a href="#"><button>BUCHEN</button></a>
  </div>
</div>

  
<svg class="line" width="26px" height="146px" viewBox="0 0 26 146" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Bootstrap4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Suedspace_Desktop-1128" transform="translate(-551.000000, -4712.000000)" fill="#FFD41B" fill-rule="nonzero">
          <path id="Path-4-Copy" d="M569.494019,4833.52854 C569.76056,4832.74416 570.612498,4832.32437 571.396875,4832.59091 C572.181252,4832.85745 572.601041,4833.70939 572.3345,4834.49377 C571.705646,4836.34436 571.00568,4838.21245 570.234656,4840.09805 C574.076621,4842.65511 575.57992,4847.70417 573.569196,4852.01544 C571.351529,4856.77042 565.699079,4858.82733 560.944095,4856.60966 L560.944095,4856.60966 L560.691954,4856.48759 C556.117014,4854.19041 554.171812,4848.65463 556.349877,4843.98456 C558.342379,4839.71236 563.107588,4837.61817 567.5034,4838.84539 C568.235024,4837.05539 568.897837,4835.28298 569.494019,4833.52854 Z M567.358716,4841.95877 C564.18225,4840.69394 560.532271,4842.11453 559.068717,4845.25259 C557.551366,4848.506 558.95872,4852.37347 562.212129,4853.89082 L562.212129,4853.89082 L562.429901,4853.98766 C565.636266,4855.34471 569.366724,4853.92852 570.850356,4850.74741 C572.314211,4847.6087 571.055955,4843.89847 568.044123,4842.2783 C567.937607,4842.26081 567.832406,4842.22949 567.729358,4842.18577 C567.594778,4842.12867 567.472863,4842.05422 567.365112,4841.96614 Z M574.587472,4816.88048 L574.731729,4816.89077 C575.554328,4816.98886 576.141654,4817.73523 576.043559,4818.55783 C575.728626,4821.19878 575.250814,4823.87968 574.610391,4826.60044 C574.420579,4827.40683 573.613,4827.90666 572.806611,4827.71685 C572.000222,4827.52704 571.500387,4826.71946 571.690198,4825.91307 C572.305164,4823.30047 572.763231,4820.73035 573.064665,4818.2026 C573.16276,4817.38 573.90913,4816.79267 574.731729,4816.89077 Z M574.120363,4800.94676 C574.939073,4800.82025 575.705327,4801.38139 575.83184,4802.2001 C576.246101,4804.88094 576.467678,4807.61034 576.496715,4810.38776 C576.505376,4811.21615 575.840861,4811.8947 575.012479,4811.90336 C574.184097,4811.91202 573.50554,4811.24751 573.496879,4810.41913 C573.469327,4807.78374 573.259328,4805.19696 572.867028,4802.65824 C572.740516,4801.83953 573.301653,4801.07327 574.120363,4800.94676 Z M568.940014,4785.81351 C569.686365,4785.454 570.582847,4785.76759 570.942362,4786.51394 C572.14487,4789.01034 573.152597,4791.55823 573.965202,4794.15714 C574.212424,4794.94782 573.771867,4795.7892 572.981188,4796.03642 C572.19051,4796.28365 571.349125,4795.84309 571.101902,4795.05241 C570.333044,4792.59342 569.379053,4790.18139 568.239585,4787.81586 C567.88007,4787.06951 568.193663,4786.17303 568.940014,4785.81351 Z M560.347368,4772.44363 C561.045533,4771.9977 561.973008,4772.20217 562.418941,4772.90034 C563.23877,4774.18389 564.122407,4775.47395 565.069907,4776.77049 L565.069907,4776.77049 L565.691138,4777.63472 C566.099529,4778.21243 566.496393,4778.79325 566.881724,4779.37718 C567.338008,4780.06862 567.147372,4780.99904 566.455926,4781.45532 C565.764481,4781.91161 564.834063,4781.72097 564.377779,4781.02953 C563.826226,4780.19371 563.249561,4779.36406 562.647763,4778.54058 L562.647763,4778.54058 L562.065143,4777.73324 C561.298714,4776.65754 560.573877,4775.58487 559.89066,4774.51521 C559.444727,4773.81704 559.649202,4772.88956 560.347368,4772.44363 Z M554.038211,4757.6925 C554.836526,4757.47117 555.663108,4757.93891 555.884435,4758.73723 C556.548398,4761.13211 557.451732,4763.55227 558.595379,4765.99786 C558.946306,4766.74829 558.622446,4767.64112 557.872018,4767.99204 C557.121591,4768.34297 556.228766,4768.01911 555.87784,4767.26868 C554.664767,4764.67463 553.703,4762.09792 552.993482,4759.53872 C552.772156,4758.74041 553.239897,4757.91383 554.038211,4757.6925 Z M551.968047,4743.02489 C552.099662,4742.20699 552.869401,4741.65064 553.687306,4741.78226 C554.505211,4741.91387 555.061559,4742.68361 554.929943,4743.50151 C554.523498,4746.02731 554.405209,4748.57788 554.57515,4751.15538 C554.629653,4751.98201 554.003718,4752.69631 553.177085,4752.75081 C552.350453,4752.80531 551.636152,4752.17938 551.58165,4751.35275 C551.396898,4748.55063 551.525672,4745.77396 551.968047,4743.02489 Z M556.17921,4716.40774 C559.267729,4712.1664 565.209754,4711.23186 569.451094,4714.32037 L569.451094,4714.32037 L569.679156,4714.49164 C573.725087,4717.62441 574.570824,4723.42803 571.53846,4727.59226 C568.778231,4731.38277 563.738876,4732.53211 559.671235,4730.52899 C558.606083,4732.37501 557.70697,4734.23246 556.972229,4736.10136 C556.669124,4736.87235 555.798401,4737.25164 555.027415,4736.94854 C554.25643,4736.64543 553.877138,4735.77471 554.180243,4735.00372 C555.002344,4732.91261 556.012906,4730.84099 557.211253,4728.78903 C553.890743,4725.54679 553.365598,4720.27156 556.17921,4716.40774 Z M567.480806,4716.60255 C564.595106,4714.66329 560.668408,4715.33924 558.604355,4718.17372 C556.569119,4720.96863 557.087149,4724.84288 559.720631,4727.01278 C559.809769,4727.04504 559.896293,4727.08766 559.979711,4727.13946 C560.12828,4727.23172 560.255122,4727.34572 560.358676,4727.47479 C563.230981,4729.31757 567.077851,4728.6215 569.113315,4725.82628 C571.226513,4722.92431 570.587087,4718.85872 567.685117,4716.74552 L567.685117,4716.74552 Z"></path>
      </g>
  </g>
</svg>
<section id="belegungsplan">
  <h2 class="belegungsplan">{{ .Params.belegungsplan }}</h2>
  <h3> Noch <span> 1 Platz</span> frei</h3>
</section>
<svg id="zu-Erreichbarkeit" class="line" width="26px" height="146px" viewBox="0 0 26 146" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Bootstrap4" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Suedspace_Desktop-1128" transform="translate(-551.000000, -4712.000000)" fill="#FFD41B" fill-rule="nonzero">
          <path id="Path-4-Copy" d="M569.494019,4833.52854 C569.76056,4832.74416 570.612498,4832.32437 571.396875,4832.59091 C572.181252,4832.85745 572.601041,4833.70939 572.3345,4834.49377 C571.705646,4836.34436 571.00568,4838.21245 570.234656,4840.09805 C574.076621,4842.65511 575.57992,4847.70417 573.569196,4852.01544 C571.351529,4856.77042 565.699079,4858.82733 560.944095,4856.60966 L560.944095,4856.60966 L560.691954,4856.48759 C556.117014,4854.19041 554.171812,4848.65463 556.349877,4843.98456 C558.342379,4839.71236 563.107588,4837.61817 567.5034,4838.84539 C568.235024,4837.05539 568.897837,4835.28298 569.494019,4833.52854 Z M567.358716,4841.95877 C564.18225,4840.69394 560.532271,4842.11453 559.068717,4845.25259 C557.551366,4848.506 558.95872,4852.37347 562.212129,4853.89082 L562.212129,4853.89082 L562.429901,4853.98766 C565.636266,4855.34471 569.366724,4853.92852 570.850356,4850.74741 C572.314211,4847.6087 571.055955,4843.89847 568.044123,4842.2783 C567.937607,4842.26081 567.832406,4842.22949 567.729358,4842.18577 C567.594778,4842.12867 567.472863,4842.05422 567.365112,4841.96614 Z M574.587472,4816.88048 L574.731729,4816.89077 C575.554328,4816.98886 576.141654,4817.73523 576.043559,4818.55783 C575.728626,4821.19878 575.250814,4823.87968 574.610391,4826.60044 C574.420579,4827.40683 573.613,4827.90666 572.806611,4827.71685 C572.000222,4827.52704 571.500387,4826.71946 571.690198,4825.91307 C572.305164,4823.30047 572.763231,4820.73035 573.064665,4818.2026 C573.16276,4817.38 573.90913,4816.79267 574.731729,4816.89077 Z M574.120363,4800.94676 C574.939073,4800.82025 575.705327,4801.38139 575.83184,4802.2001 C576.246101,4804.88094 576.467678,4807.61034 576.496715,4810.38776 C576.505376,4811.21615 575.840861,4811.8947 575.012479,4811.90336 C574.184097,4811.91202 573.50554,4811.24751 573.496879,4810.41913 C573.469327,4807.78374 573.259328,4805.19696 572.867028,4802.65824 C572.740516,4801.83953 573.301653,4801.07327 574.120363,4800.94676 Z M568.940014,4785.81351 C569.686365,4785.454 570.582847,4785.76759 570.942362,4786.51394 C572.14487,4789.01034 573.152597,4791.55823 573.965202,4794.15714 C574.212424,4794.94782 573.771867,4795.7892 572.981188,4796.03642 C572.19051,4796.28365 571.349125,4795.84309 571.101902,4795.05241 C570.333044,4792.59342 569.379053,4790.18139 568.239585,4787.81586 C567.88007,4787.06951 568.193663,4786.17303 568.940014,4785.81351 Z M560.347368,4772.44363 C561.045533,4771.9977 561.973008,4772.20217 562.418941,4772.90034 C563.23877,4774.18389 564.122407,4775.47395 565.069907,4776.77049 L565.069907,4776.77049 L565.691138,4777.63472 C566.099529,4778.21243 566.496393,4778.79325 566.881724,4779.37718 C567.338008,4780.06862 567.147372,4780.99904 566.455926,4781.45532 C565.764481,4781.91161 564.834063,4781.72097 564.377779,4781.02953 C563.826226,4780.19371 563.249561,4779.36406 562.647763,4778.54058 L562.647763,4778.54058 L562.065143,4777.73324 C561.298714,4776.65754 560.573877,4775.58487 559.89066,4774.51521 C559.444727,4773.81704 559.649202,4772.88956 560.347368,4772.44363 Z M554.038211,4757.6925 C554.836526,4757.47117 555.663108,4757.93891 555.884435,4758.73723 C556.548398,4761.13211 557.451732,4763.55227 558.595379,4765.99786 C558.946306,4766.74829 558.622446,4767.64112 557.872018,4767.99204 C557.121591,4768.34297 556.228766,4768.01911 555.87784,4767.26868 C554.664767,4764.67463 553.703,4762.09792 552.993482,4759.53872 C552.772156,4758.74041 553.239897,4757.91383 554.038211,4757.6925 Z M551.968047,4743.02489 C552.099662,4742.20699 552.869401,4741.65064 553.687306,4741.78226 C554.505211,4741.91387 555.061559,4742.68361 554.929943,4743.50151 C554.523498,4746.02731 554.405209,4748.57788 554.57515,4751.15538 C554.629653,4751.98201 554.003718,4752.69631 553.177085,4752.75081 C552.350453,4752.80531 551.636152,4752.17938 551.58165,4751.35275 C551.396898,4748.55063 551.525672,4745.77396 551.968047,4743.02489 Z M556.17921,4716.40774 C559.267729,4712.1664 565.209754,4711.23186 569.451094,4714.32037 L569.451094,4714.32037 L569.679156,4714.49164 C573.725087,4717.62441 574.570824,4723.42803 571.53846,4727.59226 C568.778231,4731.38277 563.738876,4732.53211 559.671235,4730.52899 C558.606083,4732.37501 557.70697,4734.23246 556.972229,4736.10136 C556.669124,4736.87235 555.798401,4737.25164 555.027415,4736.94854 C554.25643,4736.64543 553.877138,4735.77471 554.180243,4735.00372 C555.002344,4732.91261 556.012906,4730.84099 557.211253,4728.78903 C553.890743,4725.54679 553.365598,4720.27156 556.17921,4716.40774 Z M567.480806,4716.60255 C564.595106,4714.66329 560.668408,4715.33924 558.604355,4718.17372 C556.569119,4720.96863 557.087149,4724.84288 559.720631,4727.01278 C559.809769,4727.04504 559.896293,4727.08766 559.979711,4727.13946 C560.12828,4727.23172 560.255122,4727.34572 560.358676,4727.47479 C563.230981,4729.31757 567.077851,4728.6215 569.113315,4725.82628 C571.226513,4722.92431 570.587087,4718.85872 567.685117,4716.74552 L567.685117,4716.74552 Z"></path>
      </g>
  </g>
</svg>
<section id="erreichbarkeit">
    <h2 class="erreichbarkeit">{{ .Params.erreichbarkeit }}</h2>
    <h3>{{ .Params.kontaktdaten | safeHTML }}</h3>
      <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2686.97559548217!2d9.442838915825655!3d47.665470491902184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479b003946919e3d%3A0x6e218ae6ae0ecbff!2sFallenbrunnen%2017%2C%2088045%20Friedrichshafen!5e0!3m2!1sen!2sde!4v1575555519260!5m2!1sen!2sde" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <img src="/images/body/map_suedsicht.png" alt="">
      </div>
</section>

<section class="checkboxes">
  <img src="/images/body/check_mark.svg" alt="">
  <section>Einkaufen</section>
  <img src="/images/body/check_mark.svg" alt="">
  <section>Verkehr</section>
  <img src="/images/body/check_mark.svg" alt="">
  <section>Restaurant</section>
  <img src="/images/body/check_mark.svg" alt="">
  <section>Parken</section>
  <img src="/images/body/check_mark.svg" alt="">
  <section>Kultur</section>
  <img src="/images/body/check_mark.svg" alt="">
  <section>Universitäten</section>
  
  
</section>

  




{{ .Content }}

<!-- TinySlider 
  <div class="slider">
    {{ range .Params.slides }}
    <div><img src="/images/work/{{ .src }}" alt="{{ .alt }}"></div>
    {{ end }}   
  </div>
TinySlider -->

<!-- 
{{ range where .Site.RegularPages "Section" "projects" }}
<article class="article">
  <div class="date">{{i18n "published"}}: {{.PublishDate.Day}}. {{i18n .PublishDate.Month}} {{.PublishDate.Year}}</div>

  <div class="tags">
  {{ if .Params.tags }}
    Tags: 
    {{range .Params.tags}}
      <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{end}}
  {{end}}
  </div>

  <div class="categories">
  {{ if .Params.categories }}
    Categories:
    {{range .Params.categories}}
      <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{end}}
    {{end}}
  </div>

  <p class="summary">{{.Summary}}</p>
  <a href="{{ .File.Dir }}{{ .Params.slug }}">Hier ansehen...</a>
</article>

<hr>

{{ end }}
-->
{{ end }}